<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        
        <title>My Blogi</title>
    </h:head>
    <h:body style="margin-left: auto; margin-right: auto; width: 70%;">
    <h:form>
    
        <h3>Blogikirjoitukset:</h3>
   
    
    <h:dataTable id="artikkelit" value="#{blogBean.blogService.blogikirjoitukset}" var="artikkeli">
    <h:column>
        <b>Otsikko:</b> #{artikkeli.otsikko} <b>Kirjoittaja:</b> #{artikkeli.kirjottaja}<br></br>
        <h:commandButton value="Näytä artikkeli" action="#{blogBean.blogService.naytaArtikkeli(artikkeli)}"></h:commandButton>
        <h:commandButton value="Muokka/Poista" action="#{blogBean.blogService.muokkaaArtikkeli(artikkeli)}"></h:commandButton>        
        <hr></hr>
    </h:column>
    </h:dataTable>
  
    <br></br>
    <h:commandButton value="Lisää uusi artikkeli" action="lisaakirjoitus"></h:commandButton>
    </h:form>
       
    </h:body>
</html>

