<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        
        <title>My Blog - lisää artikkeli</title>
    </h:head>
    <h:body style="margin-left: auto; margin-right: auto; width: 70%;">
        <h:form>
        
        <h3>Lisää uusi kirjoitus:</h3>
        
        Otsikko:
        <br></br>
        <h:inputText size="50" value="#{blogBean.blogService.uusiOtsikko}"></h:inputText>
        <br></br>
        <br></br>
        
        Teksti:
        <br></br>
        <h:inputTextarea cols="50" rows="15" value="#{blogBean.blogService.uusiTeksti}"></h:inputTextarea>
        <br></br>
        <br></br>
        
        Kirjoittaja:
        <br></br>
        <h:inputText value="#{blogBean.blogService.uusiKirjoittaja}"></h:inputText>
        <br></br>
        <br></br>
        <h:commandButton value="Lisää" action="#{blogBean.blogService.lisaaArtikkeli()}"></h:commandButton>
        </h:form>
    </h:body>
</html>

