<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>My Blogi - <h:outputText value="#{blogBean.blogService.naytettavaArtikkeli.otsikko}"></h:outputText></title>
    </h:head>
    <h:body>
        <h:form>
        
        <h3>Muokkaa/poista kirjoitus:</h3>
        
        Otsikko:
        <br></br>
        <h:inputText size="50" value="#{blogBean.blogService.naytettavaArtikkeli.otsikko}"></h:inputText>
        <br></br>
        <br></br>
        
        Teksti:
        <br></br>
        <h:inputTextarea cols="50" rows="15" value="#{blogBean.blogService.naytettavaArtikkeli.teksti}"></h:inputTextarea>
        <br></br>
        <br></br>
        
        Kirjoittaja:
        <br></br>
        <h:inputText value="#{blogBean.blogService.naytettavaArtikkeli.kirjottaja}"></h:inputText>
        <br></br>
        <br></br>
        <h:commandButton value="Tallenna" action="#{blogBean.blogService.tallennaMuokattavaArtikkeli()}"></h:commandButton>
        <h:commandButton value="Poista" action="#{blogBean.blogService.poistaArtikkeli()}"></h:commandButton>
        </h:form>
    </h:body>
</html>

