<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>    
    <title>My Blogi - <h:outputText value="#{blogBean.blogService.naytettavaArtikkeli.otsikko}"></h:outputText></title>
    </h:head>
    
    <h:body style="margin-left: auto; margin-right: auto; width: 70%;">
    <h:form>
    
    <h3>#{blogBean.blogService.naytettavaArtikkeli.otsikko}</h3>

    <div style="width: 50%;">
       #{blogBean.blogService.naytettavaArtikkeli.teksti}
    </div>
    <br></br>
    kirjoittaja:<b> #{blogBean.blogService.naytettavaArtikkeli.kirjottaja}</b>
    <hr></hr>
    <br></br>
    <b>kommentit:</b>
        <h:dataTable id="kommentit" value="#{blogBean.blogService.naytettavaArtikkeli.kommentit}" var="kommentti">
        <h:column>
            <br></br>
            <b>#{kommentti.kommentoijanNimi}</b> kommentoi: #{kommentti.kommenttiTeksti}
        </h:column>
 
    </h:dataTable>
    
        <hr></hr>
    
        kommentti:<br></br>
        <h:inputTextarea id="kommenttiTeksti" cols="30" rows="3" value="#{blogBean.blogService.kommenttiTeksti}"></h:inputTextarea>
        <br></br>
        nimi:<br></br>
        <h:inputText id="kommentoija" value="#{blogBean.blogService.kommentoijanNimi}"></h:inputText>
        <br></br>
        <h:commandButton value="Kommentoi" action="#{blogBean.blogService.lisaaKommentti()}">
            <f:ajax render="kommenttiTeksti kommentoija kommentit" execute="kommenttiTeksti kommentoija kommentit"></f:ajax>
        </h:commandButton>
    </h:form>
    </h:body>
</html>

